<%- include('partials/_header.ejs') %>

<section class="py-5">
  <div class="container">
    <div class="row py-5">
      <h1>Gallery</h1>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
        similique veniam officia cum, explicabo placeat ducimus fugit itaque
        nihil, cumque excepturi quaerat corrupti! Veniam officia, doloremque
        maiores exercitationem nostrum aliquam!
      </p>
    </div>
  </div>
</section>

<%- include('partials/_footer.ejs') %>
