<%- include('partials/_header.ejs') %>
<!-- Section main page -->
<section
  class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
>
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div class="px-5">
        <h1 class="my-5">
          الطريقة <span id="span1">البرهانية </span
          ><span id="span2">الدسوقية </span><span id="span3">الشاذلية. </span>
        </h1>
        <p class="lead my-4">
          هذا هو الموقع الرسمى الوحيد للطريقة البرهانية الدسوقية الشاذلية باللغة
          العربية والطريقة غير مسئولة عن أى موقع آخر يحمل أى اسم مشابه أو عما
          يتم نشره بإسمها أو بإسم مشايخها أو أى مقالات أو أفلام أو صور أو أى
          موضوعات أخرى على أى موقع أو منتدى أو جروب أو صفحات نت عامة أو شخصية
          بخلاف المواقع الرسمية.
        </p>

        <!-- <button
              class="btn btn-primary btn-lg"
              data-bs-toggle="modal"
              data-bs-target="#subscribe"
            >
              SUBSCIRBE
            </button> -->
      </div>
      <img
        src="img/logo.png"
        class="img-fluid w-5 m-5 d-none d-md-block"
        id="main-jumbtrone"
        alt=""
      />
    </div>
  </div>
</section>
<!-- Main Static Mo image  -->
<section
  class="bg-success text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
>
  <div class="container">
    <div class="row text-center g-4">
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <img src="img/Mawlana.jpg" alt="" class="img-fluid" />
              <h4 class="py-1">
                الشيخ محمد الشيخ ابراهيم الشيخ محمد .عثمان عبده البرهاني
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <img src="img/mo2.jpg" alt="" class="img-fluid" />
              <h4 class="py-3">الشيخ ابراهيم الشيخ محمد عثمان عبده البرهاني</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <img src="img/mo3.jpg" alt="" class="img-fluid" />
              <h4 class="py-3">الشيخ محمد عثمان عبده البرهاني</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Jumbotron -->
<div class="my-5">
  <div class="p-5 text-center bg-body-tertiary bg-success">
    <div class="container py-5">
      <h1 class="text-body-emphasis">
        الطريقة البرهانية الدسوقية الشاذلية و يشار لها اختصارابـ (البرهانية) .
      </h1>
      <p class="col-lg-8 mx-auto lead">
        سبب هذه التسمية هو: البرهانية: مشتقة من كلمة (برهان) إشارة إلى برهان
        الدين وهى كنية سيدى إبراهيم الدسوقى القطب الكبير المعروف وهو صاحب
        الطريقة ومنشئها. الدسوقية: مشتقة من كلمة (دسوق) نسبة إلى مدينة دسوق
        بمحافظة كفر الشيخ والتى هى مقر إقامة وعبادة سيدى إبراهيم الدسوقى حتى
        انتقاله وفيها مقامه المشهور. الشاذلية: مشتقة من كلمة (الشاذلى) نسبة إلى
        خال سيدى إبراهيم الدسوقى وهو القطب الكبير المعروف سيدى أبو الحسن
        الشاذلى. والطريقة (البرهانية) هى نفسها الطريقة (البرهامية): فالبرهامية
        أيضا نسبة إلى سيدى إبراهيم الدسوقى ومشتقة من كلمة (إبراهيم) والاسم
        المشهور للطريقة فى بلد شيخها ومحييها سيدى فخر الدين محمد عثمان عبده
        البرهانى وفى كل البلاد العربية والأوربية هو البرهانية أما اسمها فى مصر
        الإمام الحسين بلد سيدى إبراهيم الدسوقى صاحبها ومنشئها فهو البرهامية
      </p>
    </div>
  </div>
</div>
<%- include('partials/_footer.ejs') %>

<!-- ghjk -->
