<%- include('partials/_header.ejs') %>
<!-- Section main page -->
<section
  class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
>
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div class="px-5">
        <h1 class="my-5">
          الطريقة <span id="span1">البرهانية </span
          ><span id="span2">الدسوقية </span><span id="span3">الشاذلية. </span>
        </h1>
        <p class="lead my-4">
          هذا هو الموقع الرسمى الوحيد للطريقة البرهانية الدسوقية الشاذلية باللغة
          العربية والطريقة غير مسئولة عن أى موقع آخر يحمل أى اسم مشابه أو عما
          يتم نشره بإسمها أو بإسم مشايخها أو أى مقالات أو أفلام أو صور أو أى
          موضوعات أخرى على أى موقع أو منتدى أو جروب أو صفحات نت عامة أو شخصية
          بخلاف المواقع الرسمية.
        </p>

        <!-- <button
              class="btn btn-primary btn-lg"
              data-bs-toggle="modal"
              data-bs-target="#subscribe"
            >
              SUBSCIRBE
            </button> -->
      </div>
      <img
        src="img/logo.png"
        class="img-fluid w-5 m-5 d-none d-md-block"
        id="main-jumbtrone"
        alt=""
      />
    </div>
  </div>
</section>
<!-- Main Static Mo image  -->
<section
  class="bg-success text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
>
  <div class="container">
    <div class="row text-center g-4">
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <img src="img/Mawlana.jpg" alt="" class="img-fluid" />
              <h4 class="py-1">
                الشيخ محمد الشيخ ابراهيم الشيخ محمد .عثمان عبده البرهاني
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <img src="img/mo2.jpg" alt="" class="img-fluid" />
              <h4 class="py-3">الشيخ ابراهيم الشيخ محمد عثمان عبده البرهاني</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <img src="img/mo3.jpg" alt="" class="img-fluid" />
              <h4 class="py-3">الشيخ محمد عثمان عبده البرهاني</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/_footer.ejs') %>

<!-- ghjk -->
