<%- include('partials/_header.ejs') %>
<br />
<hr />
<h1>Islam</h1>
<h2>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime ab sed saepe
  dolore iure quia est, a praesentium laborum magnam ad dolorum, voluptatum
  itaque reiciendis ducimus deleniti neque minima error.
</h2>
<%- include('partials/_footer.ejs') %>
