* {
  font-family: 'Lateef', serif;
  font-weight: 400;
}
/* ghj */
.navbar .nav-item .nav-link {
  font-size: x-large;
}

.navbar-brand {
  width: 35px;
}

#main-jumbtrone {
  width: 250px;
}

#span1 {
  color: green;
}

#span2 {
  color: #fff;
}

#span3 {
  color: gold;
}

p {
  direction: rtl;
}

.mo {
  width: 200px;
  border-radius: 10px;
}
